body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input, select {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

#playlistContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.channel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.channel-item:hover {
    background-color: #0056b3;
}

.channel-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-buttons {
    margin-top: 20px;
}

.popup-buttons button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.popup-buttons button:hover {
    background-color: #0056b3;
}

#videoContainer {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.video-js {
    width: 100%;
    height: auto;
}
